node_modules
package-lock.json
dist
.DS_Store
postgres/data
coverage
make-dataset/datasets
frontend/scripts
frontend/static/tre/pages
chat-maker/output.md
backend/log.csv
backend/dataset.jsonl
temp
database/temp.sql
frontend/static/app/pages