@font-face {
    font-family: "HeadingText";
    src: url('./roboto-slab/RobotoSlab-VariableFont_wght.ttf') format('truetype');
}
@font-face {
    font-family: "BodyText";
    src: url('./roboto/Roboto-Regular.ttf') format('truetype');
}

* {
    font-family: "BodyText";
    font-size: 14px;
    font-weight: 400;
    box-sizing: border-box;
    overflow: hidden;
    color: #686868;
    border: 0;
    margin: 0;
}